{% extends 'base.html.twig' %}

{% block title %}Course index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Course index</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('course_new') }}">Create new</a>
    {% endif %}
    <div class="dropdown d-inline">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses By Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Undergrad', 'sphere' : 'Anchor'}) }}">Undergrad Anchor</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Undergrad', 'sphere' : 'Seminar'}) }}">Undergrad Seminar</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Undergrad', 'sphere' : 'Ecological'}) }}">Undergrad Ecological</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Undergrad', 'sphere' : 'Social'}) }}">Undergrad Social</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Undergrad', 'sphere' : 'Economic'}) }}">Undergrad Economic</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Grad', 'sphere' : 'Anchor'}) }}">Grad Anchor</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Grad', 'sphere' : 'Seminar'}) }}">Grad Seminar</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Grad', 'sphere' : 'Ecological'}) }}">Grad Ecological</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Grad', 'sphere' : 'Social'}) }}">Grad Social</a>
            <a class="dropdown-item" href="{{ path('course_find', {'level': 'Grad', 'sphere' : 'Economic'}) }}">Grad Economic</a>
        </div>
    </div>
    <span class="alert alert-info">
        For more information about these courses, please see the <a href="https://bulletin.uga.edu/CoursesHome" target="_blank"> UGA Bulletin.</a>
    </span>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sphere</th>
                <th>Level</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.sphere }}</td>
                <td>{{ course.level }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
