{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <a class="btn btn-primary" href="{{ path('course_edit', {'id': course.id}) }}">Edit</a>

    {{ include('course/_delete_form.html.twig') }}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Sphere</th>
                <td>{{ course.sphere }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ course.level }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <h2 class="smaller">Use in Checklists:</h2>

Anchor:<br/>
    {% for course in course.anchorCourses %}
        <a href="{{ path('user_show', {'id': course.user.id}) }}">{{ course.user.firstName }} {{ course.user.lastName }}</a><br/>
    {% endfor %}
    <hr/>

Ecological:<br/>
    {% for course in course.sphere3Courses %}
        <a href="{{ path('user_show', {'id': course.user.id}) }}">{{ course.user.firstName }} {{ course.user.lastName }}</a><br/>
    {% endfor %}
    <hr/>
Economic: <br/>
    {% for course in course.sphere2Courses %}
        <a href="{{ path('user_show', {'id': course.user.id}) }}">{{ course.user.firstName }} {{ course.user.lastName }}</a><br/>
    {% endfor %}
    <hr/>
Social: <br/>
    {% for course in course.sphere1Courses %}
        <a href="{{ path('user_show', {'id': course.user.id}) }}">{{ course.user.firstName }} {{ course.user.lastName }}</a><br/>
    {% endfor %}
    <hr/>
Seminar: <br/>
    {% for course in course.seminars %}
        <a href="{{ path('user_show', {'id': course.user.id}) }}">{{ course.user.firstName }} {{ course.user.lastName }}</a><br/>
    {% endfor %}
    {% endif %}


{% endblock %}
