{% extends 'base.html.twig' %}

{% block title %}Major{% endblock %}

{% block body %}
    <h1>Major</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ major.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ major.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('major_index') }}">back to list</a>

    <a href="{{ path('major_edit', {'id': major.id}) }}">edit</a>

    {{ include('major/_delete_form.html.twig') }}
{% endblock %}
