{% extends 'base.html.twig' %}

{% block title %}Year - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Year</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Year</th>
                <td>{{ year.year }}</td>
            </tr>
            <tr>
                <th>Display</th>
                <td>{{ year.display }}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('year_edit', {'id': year.id}) }}">Edit</a>

    {{ include('year/_delete_form.html.twig') }}
{% endblock %}
