{% extends 'base.html.twig' %}

{% block title %}Substitution index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Substitutions
        <span class="text-muted">( {{ app.request.get('status') }} -- {{ substitutions|length }})</span>

    </h1>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Created'}) }}">Created</a>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Approved'}) }}">Approved</a>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Denied'}) }}">Denied</a>
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Requirement</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for substitution in substitutions %}
            <tr>
                <td><a href="{{ path('user_show', {'id': substitution.checklist.user.id}) }}">{{ substitution.checklist.user.firstName }} {{ substitution.checklist.user.lastName }}</a></td>
                <td>{{ substitution.requirement }}</td>
                <td>{{ substitution.description|raw }}</td>
                <td>{{ substitution.status }}
                    {% if is_granted('ROLE_ADMIN') and substitution.status!='Approved' %}
                        <a class="d-inline float-right btn btn-primary btn-sm" href="{{ path('substitution_approve', {'id': substitution.id}) }}">Approve</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and substitution.status!='Denied' %}
                        <a class="d-inline float-right btn btn-danger btn-sm" href="{{ path('substitution_deny', {'id': substitution.id}) }}">Deny</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
