{% extends 'base.html.twig' %}

{% block title %}Substitution index{% endblock %}

{% block body %}
    <h1>Substitutions</h1>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Created'}) }}">Created</a>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Approved'}) }}">Approved</a>
    <a class="btn btn-primary d-inline" href="{{ path('substitution_find', {'status': 'Denied'}) }}">Denied</a>
    <table class="table">
        <thead>
            <tr>
                <th>Student</th>
                <th>Requirement</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for substitution in substitutions %}
            <tr>
                <td><a href="{{ path('substitution_show', {'id': substitution.id}) }}">{{ substitution.checklist.user.firstName }} {{ substitution.checklist.user.lastName }}</a></td>
                <td>{{ substitution.requirement }}</td>
                <td>{{ substitution.description|raw }}</td>
                <td>{{ substitution.status }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
