{% extends 'base.html.twig' %}

{% block title %}Substitution - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Substitution</h1>
    <a class="btn btn-primary" href="{{ path('substitution_edit', {'id': substitution.id}) }}">Edit</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Requirement</th>
                <td>{{ substitution.requirement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ substitution.description|raw }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ substitution.status }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
