{% extends 'base.html.twig' %}

{% block title %}Substitution{% endblock %}

{% block body %}
    <h1>Substitution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ substitution.id }}</td>
            </tr>
            <tr>
                <th>Requirement</th>
                <td>{{ substitution.requirement }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ substitution.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ substitution.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('substitution_index') }}">back to list</a>

    <a href="{{ path('substitution_edit', {'id': substitution.id}) }}">edit</a>

    {{ include('substitution/_delete_form.html.twig') }}
{% endblock %}
