{% extends 'base.html.twig' %}

{% block title %}School index - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Schools</h1>

    <a class="btn btn-primary" href="{{ path('school_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td><a href="{{ path('school_show', {'id': school.id}) }}">{{ school.name }}</a></td>
                <td>
                    <a href="{{ path('school_edit', {'id': school.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
