{% extends 'base.html.twig' %}

{% block title %}School  - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ school.name }}</h1>

    <a class="btn btn-primary" href="{{ path('school_edit', {'id': school.id}) }}">Edit</a>

    {{ include('school/_delete_form.html.twig') }}




    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Sphere</th>
            <th>Level</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in school.courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.sphere }}</td>
                <td>{{ course.level }}</td>
                <td>
                    <a href="{{ path('course_edit', {'id': course.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
