{% extends 'base.html.twig' %}

{% block title %}Student index - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        th {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Students <span class="text-muted">({% if app.request.get('progress') %}{{ app.request.get('progress') }}{% else %} {{ app.request.get('year') }} {{ app.request.get('term') }}{% endif %} -- {{ users|length }})</span></h1>

    <a class="btn btn-primary d-inline" href="{{ path('user_find', {'progress': 'Checklist'}) }}">Checklist</a>
    <a class="btn btn-primary d-inline" href="{{ path('user_find', {'progress': 'Graduating'}) }}">Graduating</a>
    <a class="btn btn-primary d-inline" href="{{ path('user_find', {'progress': 'Alumni'}) }}">Alumni</a>
        <a class="btn btn-primary d-inline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            By Graduation Date
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% for year in years %}
                <a class="dropdown-item"
                   href="{{ path('user_findbydate', {'year': year.year, 'term': 'Fall'}) }}">{{ year.year }} Fall </a>
                <a class="dropdown-item"
                   href="{{ path('user_findbydate', {'year': year.year, 'term': 'Spring'}) }}">{{ year.year }} Spring </a>
                <a class="dropdown-item"
                   href="{{ path('user_findbydate', {'year': year.year, 'term': 'Summer'}) }}">{{ year.year }} Summer </a>
            {% endfor %}

        </div>

    <table class="table">
        <thead>
        <tr>
            <th>Name<i class="fa fa-fw fa-sort"></i></th>
            <th>Email<i class="fa fa-fw fa-sort"></i></th>
            <th>Graduation<i class="fa fa-fw fa-sort"></i></th>
            <th>Progress<i class="fa fa-fw fa-sort"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.firstName }} {{ user.lastName }}</a></td>
                <td>{{ user.email }} {{ user.altemail }}</td>
                <td>{{ user.gradyear }} {{ user.gradterm }} </td>
                <td>{{ user.progress }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Simple table sort #}
    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

        // do the work...
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            const tbody = table.querySelector('tbody');
            Array.from(tbody.querySelectorAll('tr'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => tbody.appendChild(tr));
        })));
    </script>
{% endblock %}
