{% extends 'base.html.twig' %}

{% block title %}Student home  - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    <br/>
    <h2 class="d-inline ">Profile</h2>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="d-inline float-right btn btn-primary" href="{{ path('user_alumni', {'id': user.id}) }}">Mark Alumni</a>
        <a class="d-inline float-right btn btn-primary" href="{{ path('user_inactive', {'id': user.id}) }}">Mark Inactive</a>
        <a class="d-inline float-right btn btn-primary" href="{{ path('user_graduating', {'id': user.id}) }}">Mark Graduating</a>
        <a class="d-inline float-right btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Edit Profile</a>
    {% else %}
        <a class="d-inline float-right btn btn-primary" href="{{ path('user_profile_edit', {'id': user.id}) }}">Edit
            Profile</a>
    {% endif %}
    {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
        <a class="d-inline float-right btn btn-primary" href="/user/profile?_switch_user={{ user.username }}">Login
            As</a>
    {% endif %}


    <table class="table">
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        {% endif %}
        <tr>
            <th>Email</th>
            <td>{{ user.email }}<br/> {{ user.altemail }}</td>
        </tr>
        <tr>
            <th>Progress</th>
            <td>{{ user.progress }}</td>
        </tr>
        <tr>
            <th>Graduation</th>
            <td>{{ user.gradterm }} {{ user.gradyear }}</td>
        </tr>
        <tr>
            <th>School(s)::Major(s)</th>
            <td>{% if user.school1 %}{{ user.school1.name }}::{% endif %}{% if user.major1 %}{{ user.major1.name }}{% endif%}
                {% if user.school2 %}{{ user.school2.name }}::{% endif %}{% if user.major2 %}{{ user.major2.name }}{% endif %} </td>
        </tr>
        <tr>
            <th>Minors(s)</th>
            <td>{{ user.minors }}</td>
        </tr>
        </tbody>
    </table>



    {% if user.checklists %}

        {% for checklist in user.checklists %}
            <br/>
            <h2 class="d-inline ">Checklist</h2>
                <a class="d-inline float-right btn btn-primary"
                   href="{{ path('checklist_edit', {'id': checklist.id}) }}">Update
                    Checklist</a>
            <table class="table">
                <tr>
                    <th>Pre-Certificate Survey Completed</th>
                    <td>{{ checklist.preAssess ? checklist.preAssess|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Orientation</th>
                    <td>{{ checklist.orientation ? checklist.orientation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Seminar</th>
                    <td>{% if checklist.seminar %}{{ checklist.seminar.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Anchor</th>
                    <td>{% if checklist.anchor %}{{ checklist.anchor.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Social Sphere</th>
                    <td>{% if checklist.sphere1 %}{{ checklist.sphere1.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Economic Sphere</th>
                    <td>{% if checklist.sphere2 %}{{ checklist.sphere2.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Ecological Sphere</th>
                    <td>{% if checklist.sphere3 %}{{ checklist.sphere3.name }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Capstone</th>
                    <td>{% if checklist.capstone %}{{ checklist.capstone.name }}{% endif %}</td>
                </tr>
                <tbody>
                <tr>
                    <th>Presentation</th>
                    <td>{{ checklist.presentation }}</td>
                </tr>
                <tr>
                    <th>Have you applied to Graduate</th>
                    <td>{{ checklist.appliedtograd }}</td>
                </tr>
                <tr>
                    <th>Certificate added in Athena</th>
                    <td>{{ checklist.athena ? checklist.athena|date("M j, Y") : '' }}</td>
                </tr>
                <tr>
                    <th>Post-Certificate Survey Completed</th>
                    <td>{{ checklist.postAssess ? checklist.postAssess|date("M j, Y") : '' }}</td>
                </tr>
                </tbody>
            </table>
            <br/>
            <h2 class="d-inline ">Substitutions</h2>



            <a class="d-inline float-right btn btn-primary" href="{{ path('substitution_new', {'checklist_id': checklist.id}) }}">Apply for a Substitution</a>
            <table class="table">

                <tbody>
                {% for substitution in checklist.substitutions %}
                    <tr>
                        <td>{{ substitution.requirement }}</td>
                        <td>{{ substitution.description|raw }}</td>
                        <td>{{ substitution.status }}
                            {% if is_granted('ROLE_ADMIN') and substitution.status!='Denied' %}
                                <a class="d-inline float-right btn btn-danger btn-sm" href="{{ path('substitution_deny', {'id': substitution.id}) }}">Deny</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') and substitution.status!='Approved' %}
                            <a class="d-inline float-right btn btn-primary btn-sm" href="{{ path('substitution_approve', {'id': substitution.id}) }}">Approve</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="alert alert-warning">Admin Note: No Checklist has been started:</div>
            {% endif %}
            {% if app.user.username == user.username and user.progress == 'Checklist'%}
                <div class="alert alert-info">Congrats. Your application has been approved. Please start your checklist
                    now.
                </div>
                <a class="d-inline float-right btn btn-primary" href="{{ path('checklist_new') }}">Start Checklist</a>
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if user.progress=='Application' or  is_granted('ROLE_ADMIN')%}
        <br/>

        {% for application in user.applications %}
            <h2 class="d-inline ">Application
                <span class="text-muted">({{ application.status }})</span>
            </h2>
            {% if application.status!='Approved'%}
                <a class="d-inline float-right btn btn-primary"
                   href="{{ path('application_edit', {'id': application.id}) }}">Update
                    Application</a>
            {% if is_granted('ROLE_ADMIN')%}
                <a class="d-inline float-right btn btn-primary"
                   href="{{ path('application_approve', {'id': application.id}) }}">Approve App</a>
            {% endif %}
            {% endif %}
            <table class="table">
                <tbody>
                <tr>
                    <th>Uga Id</th>
                    <td>{{ application.ugaid }}</td>
                </tr>
                <tr>
                    <th>Level</th>
                    <td>{{ application.level }}</td>
                </tr>
                <tr>
                    <th>Interests</th>
                    <td>{{ application.interest|raw }}</td>
                </tr>
                <tr>
                    <th>Experience</th>
                    <td>{{ application.experience|raw }}</td>
                </tr>
                <tr>
                    <th>Goals</th>
                    <td>{{ application.goals|raw }}</td>
                </tr>
                </tbody>
            </table>
        {% else %}
            {% if is_granted('ROLE_ADMIN') %}
                <div class="alert alert-warning">Admin Note: No Application has been started  New users will see the following:</div>
            {% endif %}
            <div class="alert alert-info">Welcome to the Sustainability Certificate. Please fill out an application
                to get started.
                We will review it and let you know when you have been accepted to the program.
            </div>
            <a class="d-inline float-right btn btn-primary" href="{{ path('application_new') }}">Start
                Application</a>
        {% endfor %}
    {% endif %}

{% endblock %}
